certifi==2020.12.5
click==7.1.2
Flask==1.1.2
Flask-Cors==3.0.10
gunicorn==19.10.0
itsdangerous==1.1.0
Jinja2==2.11.3
jplephem==2.15
MarkupSafe==1.1.1
numpy==1.16.6
sgp4==2.15
six==1.15.0
skyfield==1.36
Werkzeug==1.0.1
